---
import Rueda from "../components/Rueda.jsx";
import Logo from "../assets/tapeLogo.png";
import curve from "../assets/curveHome.png";

import web from "../assets/iconos/web.tif.png";
import redes from "../assets/iconos/redes.tif.png";
import foto from "../assets/iconos/foto.tif.png";
import tres from "../assets/iconos/360.tif.png";
import grafico from "../assets/iconos/grafico.tif.png";
import musica from "../assets/iconos/musica.tif.png";
import pauta from "../assets/iconos/pauta.tif.png";
import content from "../assets/iconos/content.tif.png";
import identidad from "../assets/iconos/identidad.tif.png";
import film from "../assets/iconos/film.tif.png";
import video from "../assets/iconos/video.tif.png";
import creativo from "../assets/iconos/creativo.tif.png";

const servicio = [
  {
    title: "DESARROLLO WEB",
    iconName: web.src,
  },
  {
    title: "REDES SOCIALES",
    iconName: redes.src,
  },
  {
    title: "FOTOGRAFIA",
    iconName: foto.src,
  },
  {
    title: "RECORRIDO 360",
    iconName: tres.src,
  },
  {
    title: "DISEÑO GRÁFICO",
    iconName: grafico.src,
  },
  {
    title: "MUSICALIZACIÓN",
    iconName: musica.src,
  },
  {
    title: "PAUTA PUBLICITARIA",
    iconName: pauta.src,
  },
  {
    title: "CONTENT CREATOR",
    iconName: content.src,
  },
  {
    title: "IDENTIDAD DE MARCA",
    iconName: identidad.src,
  },
  {
    title: "FILMAKER",
    iconName: film.src,
  },
  {
    title: "EDITOR DE VIDEOS",
    iconName: video.src,
  },
  {
    title: "DEPTO.CREATIVO",
    iconName: creativo.src,
  },
];
---

<main>
  <div class="contenedor">
    <div class="centro">
      <img src={Logo.src} alt="logo" class="logoHome" />
      <Rueda client:load />
    </div>
  </div>
  <div class="curveContainer">
    <img src={curve.src} alt="curve" class="curveHome" />
    <h3>
      No hacemos <br /> magia, hacemos <br />
      <strong>estrategia</strong>.
    </h3>
  </div>
  <div class="servicios">
    {
      servicio.map((icono, index) => (
        <div class="servicio">
          <div class="servicio-img">
            <img src={icono.iconName} alt={icono.title} />
          </div>
          <div class="servicio-svg">
            <svg width="280" height="180">
              <path
                id="curve"
                d="M 126,105 m -100,-4 a 65,70 0 1,1 140,0 a 80,65 0 1,"
              />
              <text>
                <textPath class="text_path" href="#curve" startOffset="1%">
                  {icono.title}
                </textPath>
              </text>
            </svg>
          </div>
        </div>
      ))
    }
  </div>
  <div></div>
</main>

<style>
  .contenedor {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #fff9ea;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .centro {
    position: relative;
    height: 700px;
    width: 700px;
    padding-right: 20px;
  }
  .logoHome {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .servicios {
    padding: 50px 200px;
    height: fit-content;
    background-color: #d6101d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .servicio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 190px;
    height: 190px;
  }
  .servicio-svg {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 190px;

    transition: transform 1s ease;
    transform-origin: center center;
  }
  .servicio:hover .servicio-svg {
    transform: rotate(360deg);
  }
  .servicio-img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: beige;
  }
  .servicio-img img {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }
  .text_path {
    font-family: "Archivo-Bold", sans-serif;

    font-size: 1rem;
    fill: white;
  }
  #curve {
    fill: rgb(255, 255, 255);
    opacity: 0;
  }

  .curveContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .curveHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
  }
  .curveContainer h3 {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Archivo-SemiBold", sans-serif;
  }
  strong {
    color: #d6101d;
  }
</style>
