---

import Rueda from "../components/Rueda.jsx";
import Logo from "../assets/tapeLogo.png"
import curve from "../assets/curveHome.png"

import { FaHeadphones, FaLaptopCode } from "react-icons/fa";
import { IoIosPhonePortrait, IoMdFilm } from "react-icons/io";
import { IoCamera } from "react-icons/io5";
import {
  MdDesignServices,
  MdOutline360,
  MdOutlineBrandingWatermark,
  MdSlowMotionVideo,
} from "react-icons/md";
import { RiMegaphoneFill } from "react-icons/ri";
import { GiCrafting, GiLargePaintBrush } from "react-icons/gi";

const servicio = [
  {
    title: "DESARROLLO WEB",
    img: FaLaptopCode,
  },
  {
    title: "REDES SOCIALES",
    img: IoIosPhonePortrait,
  },
  {
    title: "FOTOGRAFIA",
    img: IoCamera,
  },
  {
    title: "RECORRIDO 360",
    img: MdOutline360,
  },
  {
    title: "DISEÑO GRÁFICO",
    img: MdDesignServices,
  },
  {
    title: "MUSICALIZACIÓN",
    img: FaHeadphones,
  },
  {
    title: "PAUTA PUBLICITARIA",
    img: RiMegaphoneFill,
  },
  {
    title: "CONTENT CREATOR",
    img: GiCrafting,
  },
  {
    title: "IDENTIDAD DE MARCA",
    img: MdOutlineBrandingWatermark,
  },
  {
    title: "FILMAKER",
    img: IoMdFilm,
  },
  {
    title: "EDITOR DE VIDEOS",
    img: MdSlowMotionVideo,
  },
  {
    title: "DEPTO.CREATIVO",
    img: GiLargePaintBrush,
  },
];

---
{/*
import CircleType from 'circletype';
import { useEffect, useRef } from 'react';
{
  servicio.map((servicio, index) => {
    const textRef = useRef(null);

    useEffect(() => {
      if (textRef.current) {
        new CircleType(textRef.current).radius(80);
      }
    }, []);

    return (
      <div className="servicio" key={index}>
        <div className="servicio-img">
          <servicio.img style={{ fontSize: 70, color: "black" }} />
        </div>
        <h2 ref={textRef}>{servicio.title}</h2>
      </div>
    );
  })
}
*/}

<main>
  <div class="contenedor">
    
    <div class="centro">
      <img src={Logo.src} alt="logo" class="logoHome">
      <Rueda client:load />
    </div>
  </div>
  <div class="curveContainer">
    <img src={curve.src} alt="curve" class="curveHome">
    <h3>No hacemos <br> magia, hacemos <br> <strong>estrategia</strong>.</h3>
  </div>
  <div class="servicios">
    {
      servicio.map((servicio) => (
        <div class="servicio">
          <div class="servicio-img">
            <servicio.img style={{ fontSize: 70, color: "black" }} />
          </div>
          
          <h2>{servicio.title}</h2>
        </div>
      ))
    }
  </div>
  <div>
    

  </div>
</main>



<style>
  .contenedor {
    
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #e1dbc9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  .centro{
    position: relative;
    height: 700px;
    width: 700px;
    padding-right: 20px;

  }
  .logoHome{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .servicios {
    padding: 50px 200px;
    height: fit-content;
    background-color: #d6101d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 190px;
  }
  .servicio-img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: beige;
  }
  
  .servicio h2 {
    font-family: "GothamBook", "Gotham", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    height: 40px;
    transform: rotate(-10deg);
  }
  .curveContainer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .curveHome{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
  }
  .curveContainer h3{
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "GothamBold", "Gotham", sans-serif;
    font-weight: 700;

  }
  strong{
    color: #d6101d
  }
</style>
